.paper {
    width: 100%;
    display: flex;
    align-items: center;
}
.groupName {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
}
.itemContainer {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.groupDetails {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}